<!DOCTYPE html>
<html>
  
<head>
    <title>redirect</title>
</head>
  
<body>
    <h1>File successfully uploaded</h1>
    <form action="/"> 
        <input type="submit" value="Upload another file"> 
    </form>
</body>
  
</html>